<mat-tab-group [backgroundColor]="background">
    <mat-tab label="Pizza Slices">
        <ng-template matTabContent>
            Content 1 - Loaded: {{getTimeLoaded(1) | date:'medium'}}
            <app-pizza-slices></app-pizza-slices>
        </ng-template>
    </mat-tab>
    <mat-tab label="Second">
        <ng-template matTabContent>
            Content 2 - Loaded: {{getTimeLoaded(2) | date:'medium'}}
        </ng-template>
    </mat-tab>
    <mat-tab label="Third">
        <ng-template matTabContent>
            Content 3 - Loaded: {{getTimeLoaded(3) | date:'medium'}}
        </ng-template>
    </mat-tab>
</mat-tab-group>
